@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 17% 94%;
    --foreground: 222 84% 5%;
    --card: 200 17% 99%;
    --card-foreground: 222 84% 5%;
    --popover: 200 17% 99%;
    --popover-foreground: 222 84% 5%;
    --primary: 231 48% 48%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 231 48% 28%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20% 65.1%;
    --accent: 16 100% 57%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 231 48% 48%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 231 48% 12%;
    --sidebar-foreground: 210 40% 90%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 231 48% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 231 48% 20%;
    --sidebar-ring: 231 48% 58%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 224 71% 6%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 231 48% 68%;
    --primary-foreground: 231 48% 10%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65.1%;
    --accent: 16 100% 67%;
    --accent-foreground: 16 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 231 48% 68%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 40% 90%;
    --sidebar-primary: 231 48% 68%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 231 48% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
